@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: "Gamja Flower", sans-serif;
  
}

.teams-card {
  /* display: block;
    top: 0px;
    position: relative; */

  /* background-color: #f2f8f9; */
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 20px;
  /* border: 1px solid #f2f8f9; */
  height: 48%;
  transition: box-shadow 0.3s ease-in-out, height 0.5s , width 0.5s;
}

.card-content {
  /* padding-bottom: 1em ; */
  opacity: 0;
  cursor: pointer;
  height: 20%;
  overflow-y: scroll;
  display: none;
  transition: opacity 1s, visibility 1s;
}

.teams-card:hover {
  height: 92%;
  width: 40%;
  .card-content {
    opacity: 1;
    display: block;
  }
}

.teams-card-mobile {
  text-decoration: none;
  overflow: hidden;
  box-shadow: 20px;
  height: 400px;
  transition: box-shadow 0.3s ease-in-out, height 0.5s;

  .card-content {
    opacity: 1;
    display: hidden;
  }
}

.teams-card-mobile:hover {
  height: 470px;

  .card-content {
    opacity: 1;
    display: block;
  }
}

html::-webkit-scrollbar {
  width: 1em;
  position: hidden;
}
 
html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  display: none;
}
 
html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  
}
